<div class="fixed-header-bar">
	<div class="container">
		<span class="site-branding">World weather information</span>
	</div>
</div>

<div class="container">
	<div class="page-content">
		<div class="col-md-6">

			<div class="dynamic-weather-info">
				<h2>Weather in your city</h2>

				<div class="search-form">
					<div class="row">
						<div class="col-md-4 col-sm-6 field">
							<input type="text" name=""
								 placeholder="Country name" class="form-control">
						</div>
						<div class="col-md-4 col-sm-6 field">
							<input type="text" name=""
								 placeholder="City name" class="form-control">
						</div>
						<div class="col-md-4 field">
							<input type="submit" name="" 
							value="Search" class="form-control btn btn-search">
						</div>
					</div>	
					
				</div>

			<div class="results"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="random-locations-weather">
				<h2>World weather conditions</h2>

				<ul class="list-unstyled">
					<li>
						<div class="row">
							<div class="col-xs-8">Beijing</div>
							<div class="col-xs-2">
								<img src="icon.png" class="img-responsive" />
							</div>
							<div class="col-xs-2">82<sup>o</sup></div>
						</div>
					</li>
					
					
					<div class="clear-fix"></div>
				</ul>
			</div>
		</div>
	</div>
</div>