@import "bootstrap-sprockets";
@import "bootstrap";

$appOrange: #d26c22;

body{
	padding-top: 100px;
	background-color: #eee;
}

.clear-fix{
	clear: both;
}

.fixed-header-bar{
	background-color: #777;
    color: #fff;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    .site-branding{
        font-size: 1.5em;
    }
}


.dynamic-weather-info{
	background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 2em;

    h2{
        font-size: 1.7em;
        margin: 0;
        padding: 0.7em;
        color: $appOrange;
    }

    .search-form{
        background: $appOrange;
        background-image: radial-gradient(#e28d50,#d26c22);
        padding: 2em 1em;

        .field{
            margin-bottom: .5em;
        }

        input[type=text]{
            border: 1px solid #c1631f;
            border-radius: 3px;
            box-shadow: none;
        }

        .btn-search{
            background-color: #d26c22;
            border: 1px solid #c1631f;
            box-shadow: none;
            color: #fff;
        }
    }

    #progress-bar{
        display: none;
    }

    .results{
        padding: 3em 1em;

        .location{

            .location-info{
                font-size: 1.5em;
                color: $appOrange;
            }
            .location-icon{

            }

            .weather-description{
                font-weight: bold;
            }
        }

        .weather-details{
            font-size: 1.1em;
            margin-top: .3em;
            line-height: 24px;

            .badge{
                font-size: 1.1em;
            }
        }

        .error-response{
            padding: 1em;
        }

    }
}


.random-locations-weather{
	background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 4em;

    h2{
        font-size: 1.7em;
        margin: 0;
        padding: 0.7em;
    }
    .weather-list{
        background-color: rgb(250,250,250);
        margin-right: 0;
        margin-left: 0;
        border-top: 1px solid #ccc;

        .weather-list-item{
            text-align: center;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 2em 0;

            .location{
                font-weight: bold;
            }
        }
    }
}

